<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="examples.springmvc.dao.TodoMapper">

    <select id="getTodos" resultType="testmy.dto.Todo">
        SELECT id, todo, done FROM todo order by id desc
    </select>

    <select id="getTodo" parameterType="java.lang.Long" resultType="testmy.dto.Todo">
        SELECT id, todo, done FROM todo where id = #{id}
    </select>


</mapper>